# EDA and Visualisation

### Importing libraries

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

### Importing our cleaned data

In [2]:
cleaned = pd.read_csv("cleaned_data.csv")
duped = pd.read_csv("duped_data.csv")

In [3]:
cleaned.head()

,Unnamed: 0,id,name,street_address,price,cuisine,rating,latitude,longitude,price_mid,cuisine_cats
0,0,0,1-V:U,"The Outpost Hotel Sentosa, 10 Artillery Avenue...",$31 - $50,Asian Variety,3.5,1.252299,103.820211,40.5,[0]
1,1,1,10 At Claymore,"Pan Pacific Orchard, 10 Claymore Road Level 2",$51 - $80,Multi-Cuisine,4.0,1.307401,103.829904,65.5,[1]
2,3,3,100g Korean BBQ,93 Amoy Street,$21 - $30,Korean,3.5,1.281299,103.847092,25.5,[2]
3,4,4,10th Chocolate Street,"GSM Buidling, 141 Middle Road",$11 - $20,Belgian,3.5,1.299438,103.852403,15.5,[3]
4,5,5,123 Seafood,"Chinatown Complex Market and Food Centre, 335 ...",$0 - $9,"Singaporean, Chinese",3.5,1.282360,103.843546,4.5,"[4, 5]"

In [4]:
print("duped has {} rows".format(len(duped)))

duped has 3772 rows

`cleaned` is the dataset we produced in [Data Cleaning.ipynb](http://localhost:8888/notebooks/Desktop/SC1015-Project/Data%20Cleaning.ipynb)

`duped` is mostly identical in contents to `cleaned`, but with each row containing multiple cuisines turned into multiple rows, each with a single cuisine. `cuisine_cats` is thus renamed to `cuisine_cat`. The `duplicate` column tracks whether the current row belongs to such a restaurant.