### Import our data

In [5]:
import pandas
import matplotlib.pyplot as plt
data = pandas.read_csv("features.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            3998 non-null   object
 1   street_address  3998 non-null   object
 2   price           3992 non-null   object
 3   cuisine         2874 non-null   object
 4   rating          2287 non-null   float64
 5   latitude        3965 non-null   float64
 6   longitude       3965 non-null   float64
dtypes: float64(3), object(4)
memory usage: 218.8+ KB

### Spacial Plot
Here we plot our restaurants in a 2d plane using our GPS coordinates.

In [64]:
# Normalise our coordinates
normed = data.assign(
    latitude=data['latitude'] - data['latitude'].min(),
    longitude=data['longitude'] - data['longitude'].min()
)
normed = normed.assign(
    latitude=data['latitude'] / data['latitude'].max(),
    longitude=data['longitude'] / data['longitude'].max()
)

In [65]:
# What price and cuisine categories do we have?
prices = []
cuisines = []
for idx, row in normed.iterrows():
    if row['price'] not in prices:
        prices.append(row['price'])
    vals = row['cuisine']
    if vals == vals: #test for NaNs
        vals = vals.replace('/', ', ')
        vals = vals.split(', ')
        
        for val in vals:
            if val not in cuisines:
                cuisines.append(val)
                
print("Prices: {} Cuisines: {}".format(len(prices), len(cuisines)))

Prices: 9 Cuisines: 52

In [66]:
normed = normed.apply(lambda x: [*x[:2], prices.index(x[2]),
                                 [] if x[3] != x[3] else
                                 [cuisines.index(i) for i in x[3].replace(', ', '/').split('/')],
                                 *x[4:]],
                      axis=1, result_type='broadcast')
normed.head()

,name,street_address,price,cuisine,rating,latitude,longitude
0,1-V:U,"The Outpost Hotel Sentosa, 10 Artillery Avenue...",0,[0],NaN,0.853681,0.998361
1,10 At Claymore,"Pan Pacific Orchard, 10 Claymore Road Level 2",1,[1],4.0,0.891244,0.998454
2,10 SCOTTS,"Grand Hyatt Singapore, 10 Scotts Road Lobby Level",0,[],3.5,0.890524,0.998487
3,100g Korean BBQ,93 Amoy Street,2,[2],3.5,0.87345,0.99862
4,10th Chocolate Street,"GSM Buidling, 141 Middle Road",3,[3],NaN,0.885815,0.998671