### Import our data

In [26]:
import pandas
data = pandas.read_csv("features.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            3998 non-null   object
 1   street_address  3998 non-null   object
 2   price           3992 non-null   object
 3   cuisine         2874 non-null   object
 4   rating          2287 non-null   float64
 5   latitude        3965 non-null   float64
 6   longitude       3965 non-null   float64
dtypes: float64(3), object(4)
memory usage: 218.8+ KB

### Spacial Plot
Here we plot our restaurants in a 2d plane using our GPS coordinates.

In [24]:
# Normalise our coordinates
lat_min = data['latitude'].min()
long_min = data['longitude'].min()
normed = data.assign(latitude=data['latitude'] - lat_min,
                     longitude=data['longitude'] - long_min)
normed.head()

,name,street_address,price,cuisine,rating,latitude,longitude
0,1-V:U,"The Outpost Hotel Sentosa, 10 Artillery Avenue...",$31 - $50,Asian Variety,NaN,0.009037,0.185121
1,10 At Claymore,"Pan Pacific Orchard, 10 Claymore Road Level 2",$51 - $80,Multi-Cuisine,4.0,0.064139,0.194814
2,10 SCOTTS,"Grand Hyatt Singapore, 10 Scotts Road Lobby Level",$31 - $50,NaN,3.5,0.063083,0.198193
3,100g Korean BBQ,93 Amoy Street,$21 - $30,Korean,3.5,0.038037,0.212002
4,10th Chocolate Street,"GSM Buidling, 141 Middle Road",$11 - $20,Belgian,NaN,0.056176,0.217313